{% extends 'menu.html' %}

{% block content %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>위인Blog</h1>
                    <span class="subheading">Bootstrap으로 Django실습</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for i in db %}
            <div class="post-preview">
                <a href="./{{i.id}}">
                    <h2 class="post-title">{{i.title}}</h2>
                    <h3 class="post-subtitle">{{i.category}}</h3>
                </a>
                <p class="post-meta">
                    Posted by 
                    <a href="#!">{{i.author}}</a>
                    on {{i.updated_at}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}